
module scovid19 1.0;

require {
	type http_port_t;
	type unconfined_t;
	type init_t;
	type httpd_sys_content_t;
	class file { append create execute execute_no_trans ioctl map open read rename unlink write };
	class lnk_file read;
	class tcp_socket name_connect;
	class capability2 mac_admin;
}

#============= init_t ==============

#!!!! This avc is allowed in the current policy
allow init_t http_port_t:tcp_socket name_connect;
allow init_t httpd_sys_content_t:file { append rename unlink write };

#!!!! This avc is allowed in the current policy
#!!!! This av rule may have been overridden by an extended permission av rule
allow init_t httpd_sys_content_t:file { create execute execute_no_trans ioctl map open read };

#!!!! This avc is allowed in the current policy
allow init_t httpd_sys_content_t:lnk_file read;

#============= unconfined_t ==============

#!!!! This avc is allowed in the current policy
allow unconfined_t self:capability2 mac_admin;
