{% import 'partials/chart.html' as chart %}
{% import 'partials/tile.html' as tile %}

{% extends 'layouts/wrapper.html' %}
{% block body %}
<!-- Stats-->
<section id="stats" class="columns">
	<div class="column">
		{{ tile.tile('Total Cases', summary['cases']['total'], '#249596') }}
	</div>
	<div class="column">
		{{ tile.tile('New Cases', summary['cases']['new'], '#67a23f', 'in last 7 days') }}
	</div>
	<div class="column">
		{{ tile.tile('Total Deaths', summary['deaths']['total'], '#f6ae33') }}
	</div>
	<div class="column">
		{{ tile.tile('New Deaths', summary['deaths']['new'], '#f94333', 'in last 7 days') }}
	</div>
</section>

<section id="moreStats" class="columns slider closed">
	<div class="column">
		{{ tile.tile('Most cases in one day', summary['cases']['most']['number'], '#469C6B', "On " + summary['cases']['most']['date']) }}
	</div>
	<div class="column">
		{{ tile.tile('Most deaths in one day', summary['deaths']['most']['number'], '#F87933', "On " + summary['deaths']['most']['date']) }}
	</div>
</section>

<!-- More stats button -->
<div class="has-text-centered">
	<a class="button is-text is-medium is-family-monospace" onclick="toggleExtraCards(this)">
		<i class="fas fa-chevron-down"></i>
	</a>
</div>

<hr>

<!-- Charts -->
<section id="charts" class="section">
	<div class="columns is-desktop">
		{{ chart.chart('trendChart', 'Daily Trends', show_cog=True) }}
		{{ chart.chart('breakdownChart', 'Breakdown') }}
	</div>
	<div id="sep"></div>
	<div class="columns is-desktop">
		{{ chart.chart('totalLocationChart', 'Total cases by location') }}
		{{ chart.chart('newLocationChart', 'New cases by location', subtitle='Last 7 days') }}
	</div>
</section>

{% include 'partials/settings.html' %}

{% endblock %}
