{% import 'partials/chart.html' as chart %}

{% extends 'layouts/wrapper.html' %}
{% block body %}
<!-- Stats-->
<section id="stats" class="columns">
	<div class="column">
		<div class="tile is-parent">
			<article class="has-text-centered tile is-child notification" style="background-color: #249596; color: white;">
				<p class="heading is-size-6">Total Positive Cases</p>
				<p id="totalCases" class="title">{{ summary['cases']['total'] }}</p>
			</article>
		</div>
	</div>
	<div class="column">
		<div class="tile is-parent">
			<article class="has-text-centered tile is-child notification" style="background-color: #67a23f; color: white;">
				<p class="heading is-size-6">New cases in last 7 days</p>
				<p id="newCases" class="title">{{ summary['cases']['new'] }}</p>
			</article>
		</div>
	</div>
	<div class="column">
		<div class="tile is-parent">
			<article class="has-text-centered tile is-child notification" style="background-color: #f6ae33; color: white;">
				<p class="heading is-size-6">Total Deaths</p>
				<p id="totalDeaths" class="title">{{ summary['deaths']['total'] }}</p>
			</article>
		</div>
	</div>
	<div class="column">
		<div class="tile is-parent">
			<article class="has-text-centered tile is-child notification" style="background-color: #f94333; color: white;">
				<p class="heading is-size-6">New deaths last 7 days</p>
				<p id="newDeaths" class="title">{{ summary['deaths']['new'] }}</p>
			</article>
		</div>
	</div>
</section>

<section id="moreStats" class="columns slider closed">
	<div class="column">
		<div class="tile is-parent">
			<article class="has-text-centered tile is-child notification" style="background-color: #469C6B; color: white;">
				<p class="heading is-size-6">Most cases in one day</p>
				<p id="totalCases" class="title is-marginless">{{ summary['cases']['most']['number'] }}</p>
				<p class="heading is-size-6">On {{ summary['cases']['most']['date'] }}</p>
			</article>
		</div>
	</div>
	<div class="column">
		<div class="tile is-parent">
			<article class="has-text-centered tile is-child notification" style="background-color: #F87933; color: white;">
				<p class="heading is-size-6">Most deaths in one day</p>
				<p id="totalDeaths" class="title is-marginless">{{ summary['deaths']['most']['number'] }}</p>
				<p class="heading is-size-6">On {{ summary['deaths']['most']['date'] }}</p>
			</article>
		</div>
	</div>
</section>

<!-- More stats button -->
<div class="has-text-centered">
	<a class="button is-text is-medium is-family-monospace" onclick="toggleExtraCards(this)">
		<i class="fas fa-chevron-down"></i>
	</a>
</div>

<hr>

<!-- Charts -->
<section id="charts" class="section">
	<div class="columns is-desktop">
		{{ chart.chart('trendChart', 'Daily Trends', show_cog=True) }}
		{{ chart.chart('breakdownChart', 'Breakdown') }}
	</div>
	<div id="sep"></div>
	<div class="columns is-desktop">
		{{ chart.chart('totalLocationChart', 'Total cases by location') }}
		{{ chart.chart('newLocationChart', 'New cases by location', subtitle='Last 7 days') }}
	</div>
</section>

{% include 'partials/settings.html' %}

{% endblock %}
