<div id="settings" class="modal" data-type="">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Edit date range</p>
			<button class="delete" aria-label="close" onclick="closeSettings()"></button>
		</header>
		<section class="modal-card-body">
			<div class="columns">
				<div class="column is-half">
					<label class="label" for="start-date">Start Date</label>
					<input id="start-date" class="datepicker" type="text" placeholder="Select start date" />
				</div>
				<div class="column is-half">
					<label class="label" for="end-date">End Date</label>
					<input id="end-date" class="datepicker" type="text" placeholder="Select end date" />
				</div>
			</div>
		</section>
		<footer class="modal-card-foot">
			<button class="button is-success" onclick="saveSettings()">Submit</button>
			<button class="button" onclick="closeSettings()">Cancel</button>
		</footer>
	</div>
</div>
