{% import 'partials/tile.html.j2' as tile %} {% extends 'layouts/wrapper.html.j2' %} {% block body %}
<script defer src="js/table.js"></script>

<section id="stats" class="columns">
	<div class="column">{{ tile.tile('New cases per day', infections['cases']['avg'], '#249596', 'average over last 7 days') }}</div>
	<div class="column">{{ tile.tile('New deaths per day', infections['deaths']['avg'], '#67a23f', 'average over last 7 days') }}</div>
	<div class="column">{{ tile.tile('First vaccines received', vaccines['totals']['Dose 1'], '#f6ae33', 'Total') }}</div>
	<div class="column">{{ tile.tile('Second vaccines received', vaccines['totals']['Dose 2'], '#f94333', 'Total') }}</div>
</section>

<hr />

<!-- Prevalence per council -->
<section id="prevalence" style="overflow-x: auto">
	<p class="heading is-size-5 has-text-centered has-text-weight-medium">Cases per 100k people in last 7 days</p>
	<div id="statsTable">
		<!-- Stats populated here dynamically -->
	</div>
</section>

<script>
	window.addEventListener('load', () => {
		let headers = new Map();
		headers.set('Council', 'council');
		headers.set('Cases per 100k', 'per_100k');
		headers.set('Population', 'population');
		headers.set('Cases', 'cases');
		headers.set('Estimated Level', 'level');

		const dataLoader = async () => {
			let res = await fetch(`/api/prevalence`);
			return await res.json();
		};

		new SimpleTable('#statsTable', headers, dataLoader).init();
	});
</script>

{% endblock %}
