{% import 'partials/chart.html' as chart %} {% import 'partials/tile.html' as tile %} {% extends 'layouts/wrapper.html' %} {% block body %}
<script defer src="js/table.js"></script>

<!-- Stats-->
<section id="stats" class="columns">
	<div class="column">{{ tile.tile('Total Cases', summary['cases']['total'], '#249596') }}</div>
	<div class="column">{{ tile.tile('New cases per day', summary['cases']['avg'], '#67a23f', 'average over last 7 days') }}</div>
	<div class="column">{{ tile.tile('Total Deaths', summary['deaths']['total'], '#f6ae33') }}</div>
	<div class="column">{{ tile.tile('New deaths per day', summary['deaths']['avg'], '#f94333', 'average over last 7 days') }}</div>
</section>

<section id="moreStats" class="columns slider closed">
	<div class="column">{{ tile.tile('Most cases in one day', summary['cases']['most']['number'], '#469C6B', "On " + summary['cases']['most']['date']) }}</div>
	<div class="column">{{ tile.tile('Most deaths in one day', summary['deaths']['most']['number'], '#F87933', "On " + summary['deaths']['most']['date']) }}</div>
</section>

<!-- More stats button -->
<div class="has-text-centered">
	<a class="button is-text is-medium is-family-monospace" onclick="toggleExtraCards(this)">
		<i class="fas fa-chevron-down"></i>
	</a>
</div>

<hr />

<!-- Prevalence per council -->
<section id="prevalence" class="section" style="overflow-x: auto">
	<p class="heading is-size-5 has-text-centered has-text-weight-medium">Cases per 1000 people in last 7 days</p>
	<table class="table is-striped is-hoverable is-fullwidth slider closed">
		<thead>
			<tr>
				<th>Council</th>
				<th>Cases per 1000</th>
				<th>Population</th>
				<th>Cases</th>
			</tr>
		</thead>
		<tbody id="tableBody"></tbody>
	</table>
	<progress id="tableProgress" class="progress"></progress>

	<!-- More councils -->
	<div class="field has-addons is-justify-content-center">
		<div class="control">
			<button class="button" disabled id="tableLess" onclick="tableLess(this)">Show Less</button>
		</div>
		<div class="control">
			<button class="button" id="tableMore" onclick="tableMore(this)">Show More</button>
		</div>
	</div>
</section>

<hr />

<!-- Charts -->
<section id="charts" class="section">
	<div class="columns is-desktop">{{ chart.chart('trendChart', 'Daily Trends', show_cog=True) }} {{ chart.chart('breakdownChart', 'Breakdown') }}</div>
	<div id="sep"></div>
	<div class="columns is-desktop">{{ chart.chart('totalLocationChart', 'Total cases by location') }} {{ chart.chart('newLocationChart', 'New cases by location', subtitle='Last 7 days') }}</div>
</section>

<!-- List of settings modals to load -->
{% include 'partials/settings/trend_chart.html' %}

<!-- Initialise our charts -->
<script>
	const scales = {
		scales: {
			yAxes: [
				{
					ticks: {
						beginAtZero: true,
					},
				},
			],
		},
	};

	const chartConfig = {
		trendChart: {
			type: 'bar',
			options: { legend: false },
			endpoint: 'trend',
			...scales,
		},

		breakdownChart: {
			type: 'doughnut',
			endpoint: 'breakdown',
		},

		totalLocationChart: {
			type: 'bar',
			options: { legend: false },
			endpoint: 'locations/total',
			...scales,
		},

		newLocationChart: {
			type: 'bar',
			options: { legend: false },
			endpoint: 'locations/new',
			...scales,
		},
	};

	window.addEventListener('load', () => initCharts(chartConfig));
</script>
{% endblock %}
