[Unit]
Description=SCOVID 19 Site

[Service]
Type=simple
User=dstewart
Group=code
Environment="PATH=/code/scovid19.xyz/venv/bin"
ExecStart=/code/scovid19.xyz/venv/bin/gunicorn --bind 0.0.0.0:5000 --chdir /code/scovid19.xyz/src/ wsgi:app

[Install]
WantedBy=multi-user.target

