{% extends "partials/settings/base.html.j2" %} {% set modal_id = 'location_chart_settings' %} {% block title %}Edit Date Range{% endblock %} {% block body %}
<div class="control">
	<!-- TODO: Add "Last 7 days" subtitle to chart when viewing last 7 days -->
	<label class="radio">
		<input type="radio" checked name="duration" onchange="document.querySelector('#duration_choice').value=''" />
		Last 7 days
	</label>
	<label class="radio">
		<input type="radio" name="duration" onchange="document.querySelector('#duration_choice').value='true'" />
		Full
	</label>

	<!-- Use hidden field as our data-param -->
	<input id="duration_choice" type="hidden" data-param="full" value="" />
</div>
{% endblock %} {% block footer %} {{ super() }} {% endblock %}
