{% macro chart(type, title, subtitle='', show_cog=False) %}

<p class="heading is-size-5 has-text-centered has-text-weight-medium">
	{{ title }} {% if show_cog: %}
	<a onclick="showSettings('{{ type }}')"><i class="fas fa-cog"></i></a>
	{% endif %}
</p>

<p id="{{ type }}-subtitle" class="has-text-centered has-text-grey is-family-monospace is-uppercase pb-3 is-size-6">{{ subtitle }}&nbsp;</p>
<br />

<div class="chart-container">
	<canvas id="{{ type }}"></canvas>
</div>

{% endmacro %}
