<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Scottish COVID-19 Stats" />
		<meta name="keywords" content="COVID-19, Coronavirus, Scotland, Stats, SCOVID-19, Scottish" />
		<meta name="author" content="Dan Stewart" />

		<title>SCOVID-19</title>

		<!-- Bulma and bulma swatch themes -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
		<link rel="stylesheet" id="flatly" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css" />
		<link rel="stylesheet" id="darkly" disabled href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css" />

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
		<link rel="stylesheet" href="css/styles.css" />

		<!-- From https://favicon.io/ -->
		<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />

		<script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
		<script defer src="js/charts.js"></script>
		<script async defer src="js/script.js"></script>

		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<script async defer data-domain="scovid19.xyz" src="https://stats.danstewart.xyz/js/plausible.js"></script>
	</head>

	<body>
		<!-- Hero -->
		<section class="hero scotflag">
			<div class="hero-body">
				<!-- Dark mode button -->
				<div id="darkToggle">
					<span class="icon">
						<i id="themeToggle" onclick="toggleDarkMode()" style="color: white" class="fas fa-moon fa-2x"></i>
					</span>
				</div>
				<div class="level">
					<div class="level-left">
						<div>
							<p class="title is-2 scotflag">SCOVID-19</p>
							<p class="subtitle is-5 scotflag">COVID-19 Stats for Scotland</p>
							{% if last_updated: %}
							<p class="subtitle is-7 has-text-grey-lighter">Last Updated: {{ last_updated }}</p>
							{% else %}
							<!-- TODO: The spacing for the dark toggle is a little off when last_updated is not set -->
							<br />
							{% endif %}
						</div>
					</div>
					<div class="level-right">
						<div class="level-item is-justify-content-flex-start">
							<div class="has-text-right-tablet">
								<div>
									<p class="is-6 scotflag">
										<a class="has-text-white" href="https://twitter.com/Scovid19Bot/"><i class="fab fa-twitter pr-1"></i> Follow us on twitter</a>
									</p>
									<p class="is-6 scotflag">Don't be an eejit, wear a mask</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section id="tabs">
				<div class="tabs is-centered is-boxed">
					<ul>
						<li class='{{ "is-active" if tab == "dashboard" }}'><a href="/">Dashboard</a></li>
						<li class='{{ "is-active" if tab == "overview" }}'><a href="/infections">Infections</a></li>
						<li class='{{ "is-active" if tab == "vaccine" }}'><a href="/vaccines">Vaccines</a></li>
					</ul>
				</div>
			</section>
		</section>

		<br />

		<section id="message" class="is-hidden">
			<div class="container">
				<div class="message">
					<div class="message-header scotflag">
						<p>Info</p>
						<button class="delete" onclick="toggleInfo(this)"></button>
					</div>
					<div class="message-body">
						<ul>
							<li>&bull; On April 2nd the process for counting deaths changed, <a href="https://www.gov.scot/news/new-process-for-reporting-covid-19-deaths/">see more</a></li>
							<li>&bull; The figure for new cases on April 20th is skewed due to a change in reporting, this date is ignored from the charts but the cases reported were 776</li>
							<li>&bull; As of June 15th the data now includes cases at UK Government Regional Testing Centres</li>
						</ul>
					</div>
				</div>
				<br />
			</div>
		</section>

		{% block body %}{% endblock %}

		<br />

		<footer class="footer">
			<div class="content has-text-centered">
				<p>
					All stats are from the NHS OpenData API: <a href="https://www.opendata.nhs.scot/dataset/covid-19-in-scotland">Infections</a> |
					<a href="https://www.opendata.nhs.scot/dataset/covid-19-vaccination-in-scotland">Vaccines</a>
				</p>
				<hr />
				<div><i class="fas fa-envelope"></i> <a href="mailto:SCOVID@mail.danstewart.dev">SCOVID@mail.danstewart.dev</a></div>
				<div><i class="fab fa-github"></i> <a href="https://github.com/scovid/scovid19.xyz">Source Code</a></div>
			</div>
		</footer>
	</body>
</html>
