{% import 'partials/chart.html.j2' as chart %} {% import 'partials/tile.html.j2' as tile %} {% extends 'layouts/wrapper.html.j2' %} {% block body %}

<!-- Stats-->
<section id="stats" class="columns">
	<div class="column">{{ tile.tile('Total Cases', summary['cases']['total'], '#249596') }}</div>
	<div class="column">{{ tile.tile('New cases per day', summary['cases']['avg'], '#67a23f', 'average over last 7 days') }}</div>
	<div class="column">{{ tile.tile('Total Deaths', summary['deaths']['total'], '#f6ae33') }}</div>
	<div class="column">{{ tile.tile('New deaths per day', summary['deaths']['avg'], '#f94333', 'average over last 7 days') }}</div>
</section>

<section id="moreStats" class="columns slider closed">
	<div class="column">{{ tile.tile('Most cases in one day', summary['cases']['most']['number'], '#469C6B', "On " + summary['cases']['most']['date']) }}</div>
	<div class="column">{{ tile.tile('Most deaths in one day', summary['deaths']['most']['number'], '#F87933', "On " + summary['deaths']['most']['date']) }}</div>
</section>

<!-- More stats button -->
<div class="has-text-centered">
	<a class="button is-text is-medium is-family-monospace" onclick="toggleExtraCards(this)">
		<i class="fas fa-chevron-down"></i>
	</a>
</div>

<hr />
<!-- Charts -->
<section id="charts" class="section">
	<div class="columns is-desktop pb-5">
		<div class="column">{{ chart.chart('trendChart', 'Daily Cases', show_cog=True) }}</div>
		<div class="column">{{ chart.chart('breakdownChart', 'Breakdown') }}</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">{{ chart.chart('hopsitalAdmissions', 'Hospital Admissions') }}</div>
		<div class="column">{{ chart.chart('byAgeChart', 'Cases by age', subtitle='Last 7 days') }}</div>
	</div>
</section>

<!-- List of settings modals to load -->
{% include 'partials/settings/trend_chart.html.j2' %} {% include 'partials/settings/location_chart.html.j2' %}

<!-- Initialise our charts -->
<script>
	const scales = {
		scales: {
			yAxes: [
				{
					ticks: {
						beginAtZero: true,
					},
				},
			],
		},
	};

	const chartConfig = {
		trendChart: {
			type: 'bar',
			options: { legend: false },
			endpoint: 'infections/trend',
			...scales,
		},

		breakdownChart: {
			type: 'doughnut',
			endpoint: 'infections/breakdown',
		},

		byAgeChart: {
			type: 'bar',
			options: { legend: false },
			endpoint: 'infections/by_age',
			...scales,
		},

		hopsitalAdmissions: {
			type: 'bar',
			options: { legend: false },
			endpoint: 'infections/hospital_admissions',
			...scales,
		},
	};

	window.addEventListener('load', () => initCharts(chartConfig));
</script>
{% endblock %}
