{% import 'partials/chart.html.j2' as chart %} {% import 'partials/tile.html.j2' as tile %} {% extends 'layouts/wrapper.html.j2' %} {% block body %}

<div class="has-text-centered">
	<p class="heading is-size-5 has-text-centered has-text-weight-medium">Vaccination Stats</p>
	<section id="stats" class="columns">
		<div class="column">{{ tile.tile('First Dosage', weekly['this week']['Dose 1'], '#249596', 'Week Ending ' + weekly['this week']['Week Ending']) }}</div>
		<div class="column">{{ tile.tile('Second Dosage', weekly['this week']['Dose 2'], '#67a23f', 'Week Ending ' + weekly['this week']['Week Ending']) }}</div>
		<div class="column">{{ tile.tile('First Dosage', weekly['totals']['Dose 1'], '#f6ae33', 'Total') }}</div>
		<div class="column">{{ tile.tile('Second Dosage', weekly['totals']['Dose 2'], '#f94333', 'Total') }}</div>
	</section>
</div>

<section id="charts" class="section">
	<div class="columns is-desktop">
		<div class="column">{{ chart.chart('vaccineCouncilChart', 'Vaccinations by council', show_cog=False) }}</div>
		<div class="column">{{ chart.chart('vaccineChart', 'Vaccinations by total population (percentage)') }}</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">{{ chart.chart('vaccineTrendChart', 'Weekly vaccine trends') }}</div>
		<div class="column"></div>
	</div>
</section>

<!-- Initialise our charts -->
<script>
	const scales = {
		scales: {
			yAxes: [
				{
					ticks: {
						beginAtZero: true,
					},
				},
			],
		},
	};

	const chartConfig = {
		vaccineChart: {
			type: 'doughnut',
			endpoint: 'vaccines/breakdown',
		},

		vaccineCouncilChart: {
			type: 'bar',
			options: { legend: false },
			endpoint: 'vaccines/council',
			...scales,
		},

		vaccineTrendChart: {
			type: 'bar',
			options: { legend: { position: 'top' } },
			endpoint: 'vaccines/trend',
			...scales,
		},
	};

	window.addEventListener('load', () => initCharts(chartConfig));
</script>
{% endblock %}
